<launch>
    <master auto="start" />
        <include file="$(find navigation)/launch/robot_activate.launch" />
	<arg name="map" default="SDH_all_floorplan" />
	<param name="/use_sim_time" value="false" />
	<!-- Run the map server -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(find navigation)/maps/$(arg map).yaml" respawn="false" />
	<!-- - Run AMCL -->
	<include file="$(find amcl)/examples/amcl_omni.launch" />	

	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<rosparam file="$(find navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find navigation)/config/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find navigation)/config/global_costmap_params.yaml" command="load" />
		<rosparam file="$(find navigation)/config/base_local_planner_params.yaml" command="load" />
	</node>
	<!-- Run goal-setting script -->
	<!-- <node pkg="navigation" type="set_goal.py" name="set_goal" respawn="false" output="screen" /> -->
	<node pkg="navigation" type="run_integrated.py" name="run_integrated" respawn="false" output="screen" />
	<!-- Run the rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find navigation)/rviz/debug.rviz" />
</launch>
