<launch>
    <master auto="start" />
	<!-- Run manual position controller -->
	<node pkg="navigation" type="position_controller.py" name="position_controller" respawn="false" output="screen"/>

	<!-- Run SDH7 elevator control logic -->
	<node pkg="navigation" type="SDH2_enter_elevator.py" name="SDH2_elevator" respawn="false" output="screen"/> 
	
	<!-- Lidar elevator detection -->
	<node pkg="elevator_utils" type="lidar_elevator_detection.py" name="elevator_detection" respawn="false" output="screen"/>

	<!-- Ding detection -->
	<!-- <node pkg="voice_utils" type="ding_detection.py" name="ding_detection" args="2" respawn="false" output="screen"/> -->
</launch>
