<launch>
    <master auto="start" />
	<!-- Run manual position controller -->
	<node pkg="navigation" type="position_controller.py" name="position_controller" respawn="false" output="screen"/>

	<!-- Run SDH7 elevator control logic -->
	<node pkg="navigation" type="SDH7_enter_elevator.py" name="SDH7_elevator" respawn="false" output="screen"/> 
	
	<!-- Lidar elevator detection -->
	<node pkg="elevator_utils" type="lidar_elevator_detection.py" name="elevator_detection" respawn="false" output="screen"/>
</launch>
